@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
 .show-panel{
   transform: translateX(0) !important;
   box-shadow:15px 0px 20px -9px rgba(0,0,0,0.55);
   
 }
}

@font-face {
  font-family: "Avenir-Next";
  src: url("./fonts/avenir-next-medium.ttf");
  font-weight: normal;
}  

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Avenir-Next', sans-serif;
}


.react-images__view-image{
  margin:0 auto;
}


.react-photo-gallery--gallery div{
  align-items: flex-start;

}

.bottomHeader{
  z-index: 5000;
}



.ssCont{
  max-width: 800px;
  width: 100%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
max-height: 400px !important;
overflow: hidden;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide{
  text-align: center;
  font-size: 18px;
  border-radius: 15px;

  /* Center slide text vertically */
 
  height: 500px !important;
  position: relative;
  overflow: hidden;
}


.swiper-slide img {
  display: block;
object-position: bottom;

  border-radius: 15px;
}
video{
  object-fit: contain;
  object-position: top;
  height: 100%;
  width: 100%;
}
.swiper-slide {
  width: 100%;

}


@media (max-width:800px){
  .swiper{
    border-radius: 15px;

  }
  .swiper-slide {
    width: 60% !important;
    border-radius: 15px;

  
  }

  video{
    object-fit: cover !important;
    object-position: top;
    height: 100% !important;
    width: 100% !important;
    border-radius: 15px;

  }

  .swiper-slide img {
    display: block;
  object-position: center;
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
}

