@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
 .show-panel{
   transform: translateX(0) !important;
   box-shadow:15px 0px 20px -9px rgba(0,0,0,0.55);
   
 }
}





@font-face {
  font-family: "Avenir-Next";
  src: url("./fonts/avenir-next-medium.ttf");
  font-weight: normal;
}  




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Avenir-Next', sans-serif;
}


.react-images__view-image{
  margin:0 auto;
}